venv/
__pycache__/
*.pyc

.env.local
.env

*.tfvars
kb-key.json

# Terraform files
.terraform/
.terraform.lock.hcl
crash.log
*.tfplan
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

*.tfvars.json.bak